@import "../../shared/scss/common.scss";
@import "../../shared/scss/grid-container.scss";

.patreon-container {
    --aa-grid-columns: 3;
}

@media only screen and (max-width: 1300px) {
    .patreon-container {
        --aa-grid-columns: 2;
    }
}

@media only screen and (max-width: 800px) {
    .patreon-container {
        --aa-grid-columns: 1;
    }
}