@import "../../shared/scss/common.scss";

.patron {
    display: flex;
    background-color: var(--assistantapps-patron-background-colour, #6c757d);
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
}

.patron img.patron-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 0;
}

.patron .patron-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--assistantapps-patron-text-colour, white);
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}