.grid-container {
    --aa-grid-columns: 2;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    justify-content: center;
    column-gap: 1em;
    row-gap: 1em;

    >* {
        // width: calc(100% / var(--aa-grid-columns, 3));
        width: calc(calc(100% / var(--aa-grid-columns, 3)) - calc(0.33em * var(--aa-grid-columns, 3)));
        // max-width: calc(100% / var(--aa-grid-columns, 3));
    }
}

@media only screen and (max-width: 1300px) {
    .grid-container {
        --aa-grid-columns: 2;
    }
}

@media only screen and (max-width: 800px) {
    .grid-container {
        --aa-grid-columns: 1;
    }
}