@import "../../shared/scss/common.scss";

assistant-apps-team-tile {
    display: block;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--assistantapps-team-member-background-colour,
            rgba(255, 255, 255, 0.1));
}

assistant-apps-team-tile:last-child {
    border-bottom: none;
}