@import "../../shared/scss/common.scss";

.dropdown {
    display: inline-block;
    position: relative;
    margin-bottom: 1em;
    z-index: 20;
}

.dd-button {
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 10px;
    background-color: var(--assistantapps-version-dropdown-background-colour, #6c757d79);
    cursor: pointer;
    white-space: nowrap;
}

.dd-button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--assistantapps-version-dropdown-background-colour, #6c757d);
}

.dd-button:hover {
    background-color: var(--assistantapps-version-dropdown-background-hover-colour, #6c757d);
}

.dd-button img {
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
}

.dd-button p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.dd-input {
    display: none;
}

.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--assistantapps-version-dropdown-background-colour, #6c757d);
    list-style-type: none;
}

.dd-input + .dd-menu {
    display: none;
}

.dd-input:checked + .dd-menu {
    display: block;
}

.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dd-menu li:hover {
    background-color: var(--assistantapps-version-dropdown-background-hover-colour, #7b848b);
}

.dd-menu li.dd-menu-item {
    display: flex;
}

.dd-menu li.dd-menu-item img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}

.dd-menu li.dd-menu-item p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.what-is-new-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 3em;
}

@media only screen and (max-width: 1000px) {
    .what-is-new-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 0.5em;
        row-gap: 0.5em;
    }
}

@media only screen and (max-width: 600px) {
    .what-is-new-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 0.5em;
        row-gap: 0.5em;
    }
}
